<html>
<body>
	<h3>Estimación de ventas anuales de novedades</h3>

<div>
<form action="/result" method="POST">

	<label for="Artículo">ISBN</label>
	<input type="number" id="Artículo" name="Artículo">
	<br>
	<label for="Empresa">Empresa</label>
	<input type="number" id="Empresa" name="Empresa">
	<br>
	<label for="encuadernacionid">Tipo de encuadernacion</label>
  <select id="encuadernacionid" name="encuadernacionid">
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  </select>
	<label for="selloid">Sello id</label>
  <select id="selloid" name="selloid">
  <option value="21">21</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="31">31</option>
  <option value="103">103</option>
  <option value="104">104</option>
  <option value="107">107</option>
  <option value="112">112</option>
  <option value="113">113</option>
  <option value="115">115</option>
  <option value="121">121</option>
  <option value="125">125</option>
  <option value="127">127</option>
  <option value="130">130</option>
  <option value="132">132</option>
  <option value="142">142</option>
  <option value="223">223</option>
  <option value="287">287</option>
  <option value="288">288</option>
  <option value="289">289</option>
  <option value="290">290</option>
  <option value="317">317</option>
  <option value="318">318</option>
  <option value="321">321</option>
  <option value="346">346</option>
  <option value="427">427</option>
  <option value="440">440</option>
  <option value="537">537</option>
  <option value="548">548</option>
  <option value="554">554</option>
  <option value="559">559</option>
  <option value="560">560</option>
  <option value="561">561</option>
  <option value="563">563</option>
  <option value="564">564</option>
  <option value="565">565</option>
  <option value="566">566</option>
  <option value="568">568</option>
  <option value="574">574</option>
  <option value="585">585</option>
  <option value="586">586</option>
  <option value="588">588</option>
  <option value="589">589</option>
  <option value="591">591</option>
  <option value="593">593</option>
  </select>
	<br>
  <label for="categoriaid">Categoria id</label>
  <select id="categoriaid" name="categoriaid">
  <option value="0">0</option>
  <option value="46">46</option>
  <option value="47">47</option>
  <option value="48">48</option>
  <option value="49">49</option>
  <option value="50">50</option>
  <option value="51">51</option>
  <option value="52">52</option>
  <option value="53">53</option>
  <option value="54">54</option>
  <option value="55">55</option>
  <option value="56">56</option>
  <option value="57">57</option>
  <option value="58">58</option>
  <option value="59">59</option>
  <option value="60">60</option>
  <option value="62">62</option>
  <option value="63">63</option>
  <option value="64">64</option>
  <option value="65">65</option>
  <option value="66">66</option>
  <option value="67">67</option>
  <option value="68">68</option>
  <option value="69">69</option>
  <option value="70">70</option>
  <option value="71">71</option>
  <option value="72">72</option>
  <option value="73">73</option>
  <option value="74">74</option>
  <option value="75">75</option>
  <option value="77">77</option>
  <option value="78">78</option>
  <option value="79">79</option>
  <option value="80">80</option>
  <option value="81">81</option>
  <option value="82">82</option>
  <option value="83">83</option>
  <option value="84">84</option>
  <option value="85">85</option>
  <option value="86">86</option>
  <option value="87">87</option>
  <option value="88">88</option>
  <option value="89">89</option>
  <option value="90">90</option>
  <option value="91">91</option>
  <option value="93">93</option>
  <option value="94">94</option>
  <option value="95">95</option>
  <option value="96">96</option>
  <option value="97">97</option>
  <option value="98">98</option>
  <option value="99">99</option>
  <option value="100">100</option>
  <option value="101">101</option>
  <option value="102">102</option>
  <option value="104">104</option>
  <option value="105">105</option>
  <option value="106">106</option>
  <option value="107">107</option>
  <option value="108">108</option>
  <option value="109">109</option>
  <option value="110">110</option>
  <option value="111">111</option>
  <option value="112">112</option>
  <option value="115">115</option>
  <option value="116">116</option>
  <option value="117">117</option>
  <option value="118">118</option>
  <option value="119">119</option>
  <option value="122">122</option>
  <option value="123">123</option>
  <option value="124">124</option>
  <option value="125">125</option>
  <option value="126">126</option>
  <option value="127">127</option>
  <option value="128">128</option>
  <option value="129">129</option>
  <option value="130">130</option>
  <option value="131">131</option>
  <option value="133">133</option>
  <option value="134">134</option>
  <option value="135">135</option>
  <option value="136">136</option>
  <option value="137">137</option>
  <option value="141">141</option>
  <option value="142">142</option>
  <option value="175">175</option>
  <option value="176">176</option>
  <option value="177">177</option>
  <option value="178">178</option>
  <option value="179">179</option>
  <option value="180">180</option>
  <option value="181">181</option>
  <option value="182">182</option>
  <option value="217">217</option>
  <option value="381">381</option>
	</select>
	<label for="categoriapadreid">Categoría padre id</label>
  <select id="categoriapadreid" name="categoriapadreid">
  <option value="0">0</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
  <option value="32">32</option>
  <option value="33">33</option>
  <option value="34">34</option>
  <option value="35">35</option>
  <option value="36">36</option>
  <option value="37">37</option>
  <option value="38">38</option>
  <option value="39">39</option>
  <option value="40">40</option>
  <option value="41">41</option>
  <option value="42">42</option>
  <option value="43">43</option>
  <option value="44">44</option>
  <option value="45">45</option>
  <option value="380">380</option>
  </select>
  <br>
	<label for="idiomaid">Idioma Id </label>
  <select id="idiomaid" name="idiomaid">
  <option value="33">Alemán</option>
  <option value="38">Inglés</option>
  <option value="39">Esperanto</option>
  <option value="40">Español</option>
  <option value="41">41</option>
  <option value="48">Estonio</option>
  <option value="73">Francés</option>
  </select>
	<br>
	<label for="paisedicionid">País de edición ID </label>
	<select id="paisedicionid" name="paisedicionid">
	<option value="803">Francia</option>
	<option value="911">Reino Unido</option>
	<option value="773">Chile</option>
	<option value="797">Estados Unidos</option>
	<option value="735">Alemania</option>
	<option value="743">Argentina</option>
	<option value="795">España</option>
	</select>
  <br>
	<label for="tipo_precio">Rango de precio</label>
  <select id="tipo_precio" name="tipo_precio">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  </select>
  <br>
	<label for="ediciones">Número de ediciones</label>
	<input type="number" id="ediciones" name="ediciones">
	<br>
	<label for="alto">Alto</label>
  <input type="number" id="alto" name="alto">
  <br>
  <label for="ancho">Ancho</label>
  <input type="number" id="ancho" name="ancho">
  <br>
	<label for="peso">Peso</label>
	<input type="number" id="peso" name="peso">
	<br>
	<label for="bins_pag">Rango de paginación</label>
	<select id="bins_pag" name="bins_pag">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	</select>
	<br>
	
  <input type="submit" value="Submit">
  </form>
  </div>
  </body>
  </html>
